body {
    font-family: 'Roboto', sans-serif;
}

.sectionPurple {
    height: 120vh;
    width: 99vw;
    background-image: url(./assets/gradient-violet-bg.jpg);
    background-size: cover;
    margin: -10px;
}

.sectionPurple.navBar {
    height: 100px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 870px;
    margin-top: 10px;
    position: fixed;
}

ul li {
    display: inline-block;
    padding: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    padding: 5px;
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }

.logoSmall {
    position: absolute;
    height: auto;
    width: 200px;
    margin-top: 15px;
    margin-left: 10px;
    position: fixed;
}

.openKastLink {
    color: white;
    text-decoration: none;
    border: solid white;
    border-radius: 3px;
    border-width: 1.7px;
    padding: 5px;
}



.lapTop {
    height: 380px;
    width: 630px;
    padding-bottom: -10px;
    padding-top: 62px;
}

.centerblock {
    display: block;
    text-align: center;
    padding-top: 100px;
}

.centerblock h1 {
    color: white;
    font-size: 2.8em;
}

.centerblock p {
    color: white;
    font-size: 1.1em;
    max-width: 500px;
    margin-left: 500px;
}

.button1 {
    -webkit-appearance: button;
    background-color:#fe9000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    width: 200px;
    height: 30px;
    border-radius: 3px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 660px;
    letter-spacing: 1.4px;
}

 .sectionWhite {
     margin: auto;
     text-align: center;
     width: 100%;
     height: 1vh;
 }

.sectionWhite h1 {
    max-width: 710px;
    text-align: center;
    margin: auto;
    margin-top: 120px;
    font-size: 3em;
    color: rgb(63, 61, 61)
}

.clipart {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
}

.clipart img {
    width: 100px;
    height: 100px;
    padding: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.clipartCaptions p {
    display: inline-flex;
    max-width: 220px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 0.9em;
    line-height: 160%;
}

.offer p {
    font-size: 1.2em;
    margin-top: 50px;
    max-width: 575px;
    display: inline-block;
    line-height: 170%;
}

.learnMore {
    color: orange;
    text-decoration: none;
    font-size: 0.9em;
    margin-bottom: 20px;
}

.button2 {
    -webkit-appearance: button;
    background-color:#fe9000;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    width: 270px;
    height: 30px;
    border-radius: 3px;
    border: none;
    font-size: 1.1em;
    font-weight: bold;
    letter-spacing: 1.4px;
    margin-bottom: 100px;
    margin-top: 20px;
}